In [1]:
# for loop

In [2]:
data = [18,'ramesh',67.90,True,8+7j,45,'naveen',56.87,False,6+5j]

In [7]:
for i in data:
    print(data, type(i))

[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'int'>
[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'str'>
[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'float'>
[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'bool'>
[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'complex'>
[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'int'>
[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'str'>
[18, 'ramesh', 67.9, True, (8+7j), 45, 'naveen', 56.87] <class 'float'>

In [8]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, (4, 5, 6), None, False, 'A']

for element in my_list:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
False <class 'bool'>
A <class 'str'>