In [1]:
# convert one data type to another in python.

In [4]:
# Integers: To convert a value to an integer, you can use the int() function. For example:
a = 1.00
type(a)

float

In [5]:
b = int(a)

In [6]:
type(b)

int

In [8]:
# Strings: To convert a value to a string, you can use the str() function. For example:
c = 56
type(c)

int

In [9]:
d = str(c)

In [10]:
type(d)

str

In [11]:
# similarly we can use float() functions.

In [12]:
# Lists, Tuples, and Sets: You can convert a sequence type (list, tuple, set) to another sequence type using their respective constructors. For example:

In [16]:
# Convert a list to a tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)

In [17]:
my_tuple

(1, 2, 3)